# JetBrains / DataGrip
# Ignorar la mayoría de la configuración local del IDE
.idea/*

# Permitir compartir solo si se desea
!.idea/inspectionProfiles/
!.idea/codeStyles/
!.idea/modules.xml

# Archivos sensibles o por usuario (conexiones, workspace, temas, copilot, etc.)
.idea/dataSources.xml
.idea/data_source_mapping.xml
.idea/*copilot*.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/material_theme_project_new.xml

# Otros artefactos de IDEA
*.iml
